.Button {
  display: inline-block;
  padding: 12px 80px;
  border-radius: 4px;
  border: 1px solid #cccccc4a;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.Button:hover {
  cursor: pointer;
}

.Button:focus {
  outline: none;
}

.Button:active {
  box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.Button:disabled {
  background: #cccccc7e;
  color: #000;
  cursor: not-allowed;
}

.primary {
  background: #2884f6;
  color: #fff;
}
